In [6]:
from datetime import *
import pandas as pd
import numpy as np
import random
import time
import csv
import os
from sklearn.cluster import KMeans

os.chdir(r'C:\Users\li303\OneDrive - 國立成功大學 National Cheng Kung University\桌面\高港\廠商提供')

load_21 = pd.read_excel('7櫃LOAD.xlsx', sheet_name='2021')
load_21['date'] = pd.to_datetime(load_21['date'])
load_21.set_index(load_21['date'], inplace=True, drop=True)
load_21 = load_21.drop(['date'], axis=1)

load_21_scaleup = load_21*(15/7)

pv_2122 = pd.read_csv('7櫃PV_2021-22.csv')
pv_2122['date'] = pd.to_datetime(pv_2122['date'])
pv_2122.set_index(pv_2122['date'], drop=True, inplace=True)
pv_2122 = pv_2122.drop(['date'], axis=1)

pv_21 = pv_2122['2021']

pv_21.rename(columns=dict(zip(pv_21.columns, load_21_scaleup.columns)), inplace=True)
netload_21_scaleup = load_21_scaleup - pv_21

KM=KMeans(n_clusters=5,init='random',random_state=5)
KM.fit(netload_21_scaleup)
cluster_index = KM.predict(netload_21_scaleup)
cluster_index

netload_21_scaleup.insert(0, column='cluster_index', value=cluster_index)

cluster_centers = KM.cluster_centers_
netload_21_scaleup_ClusterCenters = pd.DataFrame(cluster_centers)
cluster_counts =np.bincount(cluster_index)

netload_21_scaleup_ClusterCenters.insert(0, column='days', value=cluster_counts)
netload_21_scaleup_ClusterCenters.to_csv('netload_21_scaleup_ClusterCenters.csv', encoding='utf-8_sig', index=False)
netload_21_scaleup_ClusterCenters

C:\Users\li303\AppData\Local\Temp\ipykernel_40328\1304983580.py:24: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  pv_21 = pv_2122['2021']
C:\Users\li303\AppData\Local\Temp\ipykernel_40328\1304983580.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pv_21.rename(columns=dict(zip(pv_21.columns, load_21_scaleup.columns)), inplace=True)
c:\Users\li303\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
c:\Users\li303\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=2.
  warnings.warn(

,days,0,1,2,3,4,5,6,7,8,...,86,87,88,89,90,91,92,93,94,95
0,64,7935.234375,7822.734375,7765.546875,7692.689732,7627.868304,7527.622768,7469.564732,7366.439732,7386.763393,...,8142.388393,8130.770089,8138.671875,8099.129464,8116.774554,8129.397321,8114.263393,8068.258929,7873.861607,7967.410714
1,116,9513.103448,9534.088670,9507.487685,9488.996305,9455.597291,9398.866995,9385.843596,9313.226601,9361.256158,...,9938.442118,9921.391626,9889.525862,9850.640394,9851.453202,9824.150246,9729.642857,9658.965517,9467.955665,9500.855911
2,92,8938.765528,8936.692547,8932.849379,8831.459627,8825.380435,8802.833851,8774.883540,8729.324534,8739.130435,...,8982.600932,8986.840062,8963.431677,8971.024845,8956.490683,8924.184783,8878.788820,8776.513975,8556.894410,8605.737578
3,28,11583.903061,11600.969388,11626.301020,11593.775510,11627.831633,11618.494898,11632.806122,11607.857143,11560.561224,...,12002.448980,11956.989796,11892.321429,11806.989796,11753.801020,11802.704082,11701.683673,11604.107143,11414.464286,11497.882653
4,65,10868.307692,10845.560440,10884.098901,10878.725275,10841.868132,10798.747253,10800.989011,10753.714286,10762.252747,...,10879.582418,10804.912088,10779.098901,10731.362637,10746.164835,10744.186813,10673.142857,10572.164835,10447.879121,10601.472527

In [8]:
from datetime import *
import pandas as pd
import numpy as np
import random
import time
import csv
import os
from sklearn.cluster import KMeans

os.chdir(r'C:\Users\li303\OneDrive - 國立成功大學 National Cheng Kung University\桌面\高港\網頁匯入檔案')

load_data = pd.read_csv('load_data.csv')
load_data = load_data.drop(['date'], axis=1)
pv_data = pd.read_csv('pv_data.csv')
pv_data = pv_data.drop(['date'], axis=1)

pv_data.rename(columns=dict(zip(pv_data.columns, load_data.columns)), inplace=True)
netload_data = load_data - pv_data

KM=KMeans(n_clusters=5,init='random',random_state=5)
KM.fit(netload_data)
cluster_index = KM.predict(netload_data)

netload_data.insert(0, column='cluster_index', value=cluster_index)

cluster_centers = KM.cluster_centers_
netload_21_scaleup_ClusterCenters = pd.DataFrame(cluster_centers)
cluster_counts =np.bincount(cluster_index)

netload_21_scaleup_ClusterCenters.insert(0, column='days', value=cluster_counts)
netload_21_scaleup_ClusterCenters.to_csv('netload_21_scaleup_ClusterCenters.csv', encoding='utf-8_sig', index=False)
netload_21_scaleup_ClusterCenters

c:\Users\li303\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
c:\Users\li303\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=2.
  warnings.warn(

,days,0,1,2,3,4,5,6,7,8,...,86,87,88,89,90,91,92,93,94,95
0,64,7935.234375,7822.734375,7765.546875,7692.689732,7627.868304,7527.622768,7469.564732,7366.439732,7386.763393,...,8142.388393,8130.770089,8138.671875,8099.129464,8116.774554,8129.397321,8114.263393,8068.258929,7873.861607,7967.410714
1,116,9513.103448,9534.088670,9507.487685,9488.996305,9455.597291,9398.866995,9385.843596,9313.226601,9361.256158,...,9938.442118,9921.391626,9889.525862,9850.640394,9851.453202,9824.150246,9729.642857,9658.965517,9467.955665,9500.855911
2,92,8938.765528,8936.692547,8932.849379,8831.459627,8825.380435,8802.833851,8774.883540,8729.324534,8739.130435,...,8982.600932,8986.840062,8963.431677,8971.024845,8956.490683,8924.184783,8878.788820,8776.513975,8556.894410,8605.737578
3,28,11583.903061,11600.969388,11626.301021,11593.775510,11627.831633,11618.494898,11632.806123,11607.857143,11560.561226,...,12002.448980,11956.989795,11892.321429,11806.989796,11753.801020,11802.704082,11701.683673,11604.107142,11414.464286,11497.882654
4,65,10868.307692,10845.560439,10884.098901,10878.725275,10841.868131,10798.747253,10800.989011,10753.714286,10762.252747,...,10879.582418,10804.912088,10779.098901,10731.362638,10746.164835,10744.186813,10673.142857,10572.164835,10447.879121,10601.472527

In [2]:
from datetime import *
import pandas as pd
import numpy as np
import random
import time
import csv
import os

os.chdir(r'C:\Users\li303\OneDrive - 國立成功大學 National Cheng Kung University\桌面\高港\廠商提供')

NL_21 = pd.read_csv('netload_21_scaleup_cluster.csv')
NL_21_CC = NL_21['cluster_index']
NL_21_CC_count = np.bincount(NL_21_CC)
NL_21_CC_count

array([ 64, 116,  92,  28,  65], dtype=int64)